<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Dodawanie Recenzji</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h1>Dodawanie Recenzji</h1>

    <form action="" method = "POST">
        <div class="form-group row">
          <label for="recenzja">Recenzja</label>
          <input type="text" class="form-control" name="recenzja" id="recenzja" value="{{film.recenzja}}">
        </div>
        <div class="form-group row">
            <label for="ocena">Ocena</label>
            <input type="text" class="form-control" name="ocena" id="ocena" value="{{film.ocena}}">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/a_wyswietl_filmy" class="btn btn-primary">Cancel</a>
      </form>
</body>
